/AED/Lab_2.5/nbproject/private/
/AED/Lab_3.5/nbproject/private/
/AED/Lab_3.5/build/
/AED/Lab_2.5/build/
/AED/Lab_2/nbproject/private/
/AED/Assignment_1/nbproject/private/
/AED/Lab_3/nbproject/private/
/AED/Lab_5_Homework/nbproject/private/
/AED/Lab_5_Homework/build/
/AED/Lab4_Homework/nbproject/private/
/AED/Assignment_3/nbproject/private/
/AED/Assignment_3/build/